body {
    text-align: center; 
}

.form-container {
	float: left;
	position: relative;
	left: 50%;
}

.form-container > * {
	position: relative;
	left: -50%;
	padding: 10px;
}

form > label {
	clear: both;
	float: right;
}

input[type="text"], input[type="password"] {
	margin: 2mm;
	margin-right: 0;
	width: 6cm;
}

input[type="submit"] {
	display: block;
	position: relative;
	left: 50%;
}

